.card {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-width: 320px;
}

.input-wrapper {
  display: flex;
  gap: 10px;
}

@media (max-width: 991px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}
