.name {
  margin-top: 20px;
}

.surname {
  margin-top: 10px;
}

.radio-buttons {
  margin-top: 10px;
}

.birthday {
  margin-top: 24px;
}

.birthday-input {
  margin-top: 5px;
}

.login {
  margin-top: 20px;
}

.email {
  margin-top: 5px;
}

.password {
  margin-top: 10px;
}

.toggle {
  margin-top: 10px;
}

.submit-button {
  margin-top: 22px;
}

.question-about-auth {
  margin-top: 30px;
}
