@import '@/style/variables.scss';

.gallery {
  height: 485px;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.wrapper {
  aspect-ratio: 16 / 9;
}

.item1 {
  position: relative;
  height: 485px;
}

.item2 {
  position: relative;
  height: 243px;
}

.item3 {
  position: relative;
  height: 242px;
}

.column {
  display: flex;
  flex-direction: column;

  &__small {
    width: 460px;
  }

  &__big {
    width: 980px;
  }
}

.image {
  display: block;
  height: 100%;
  object-fit: cover;
}

.skeleton {
  animation: $animation-skeleton-loading;
}

.placeholder {
  height: 485px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $dark-shade-10;
}

@media (max-width: 992px) {
  .placeholder {
    height: 240px;
  }
}