@import '@/style/variables.scss';

.gallery {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;

  width: 460px;
}

.image {
  display: block;
  height: 100%;
  object-fit: cover;
}

.skeleton {
  height: 485px;

  animation: $animation-skeleton-loading;
}

.placeholder {
  height: 485px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $dark-shade-10;
}