.desc {
  color: #1f2041bf;
  font-size: 14px;
}

.container {
  max-width: 1188px;
  padding: 0 14px;
  margin: 0 auto;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.up {
  padding: 100px 0px;
  border-top: 1px solid #1f204140;

  &__body {
    display: grid;
    grid-template-columns: 260px 1fr 260px;
    grid-template-areas: 'logo navigation subscribe';
    gap: 20px;
  }

  &__logo {
    grid-area: logo;
  }

  &__nav {
    display: flex;
    margin-top: 4px;
    grid-area: navigation;
    margin-left: 20px;
  }

  &__subscribe {
    margin-top: 4px;
    grid-area: subscribe;
  }

  &__list {
    @extend %list;
    margin-top: 20px;
  }

  &__item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0px;
    }
  }

  &__desc {
    @extend .desc;
    margin-top: 18px;
    line-height: 24px;
  }

  &__form {
    margin-top: 22px;
  }

  &__title {
    font-weight: bold;
    color: #1f2041;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 14.63px;
  }

  &__link {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    font-size: 14px;
    display: block;
    line-height: 17.07px;
    &:hover {
      color: rgba(31, 32, 65, 1);
    }
  }

  &__about {
    margin-left: 57px;
  }

  &__support {
    margin-left: 92px;
  }
}

.down {
  padding: 24px 0px;
  border-top: 1px solid #1f204140;

  &__body {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.social {
  @extend %list;
  display: flex;
  align-items: center;
  gap: 20px;

  &__link {
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1160px) {
  .up {
    &__body {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      grid-template-areas:
        'logo subscribe '
        'navigation navigation';
    }

    &__nav {
      justify-content: space-between;
    }
  }
}

@media (max-width: 568px) {
  .up {
    border-top: none;
    padding: 0;
    &__body {
      display: flex;
      justify-content: center;
    }

    &__nav {
      display: none;
    }

    &__subscribe {
      display: none;
    }

    &__desc {
      display: none;
    }
  }

  .desc {
    text-align: center;
  }

  .down {
    border-top: none;
    padding: 0;
    margin-top: 20px;

    &__body {
      flex-direction: column;
      gap: 25px;
    }
  }

  .footer {
    padding: 120px 0;
  }
}
