@import '@/style/variables.scss';

.desc {
  color: $dark-shade-75;
  font-size: 14px;
}

.container {
  max-width: 1188px;
  padding: 0 14px;
  margin: 0 auto;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.up {
  padding: 100px 0px;
  border-top: 1px solid $dark-shade-25;

  .body {
    display: grid;
    grid-template-columns: 260px 1fr 260px;
    grid-template-areas: 'logo navigation subscribe';
    gap: 20px;
  }

  .desc {
    @extend .desc;
    margin-top: 18px;
    line-height: 24px;
  }

  .link {
    color: $dark-shade-50;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      color: $dark-shade-100;
    }
  }
}

.logo {
  grid-area: logo;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 4px;
  margin-left: 20px;
  grid-area: navigation;
}

.subscribe {
  margin-top: 4px;
  grid-area: subscribe;

  .desc {
    margin-top: 20px;
  }
}

.list {
  @extend %list;
  margin-top: 20px;
}

.item {
  margin-top: 13px;
  &:first-child {
    margin-top: 0px;
  }
}

.form {
  margin-top: 22px;
}

.title {
  font-weight: bold;
  color: $dark-shade-100;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 14px;
}

.down {
  padding: 24px 0px;
  border-top: 1px solid $dark-shade-25;

  .body {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .link {
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

.social {
  @extend %list;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 1160px) {
  .up {
    .body {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      grid-template-areas:
        'logo subscribe '
        'navigation navigation';
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

@media (max-width: 568px) {
  .up {
    border-top: none;
    padding: 0;

    .body {
      display: flex;
      justify-content: center;
    }

    .desc {
      display: none;
    }
  }

  .nav {
    display: none;
  }

  .subscribe {
    display: none;
  }

  .desc {
    text-align: center;
  }

  .down {
    border-top: none;
    padding: 0;
    margin-top: 20px;
  }

  .down {
    .body {
      flex-direction: column;
      gap: 25px;
      align-items: center;
    }
  }

  .footer {
    padding: 120px 0;
  }
}
