.navigation-item {
  list-style: none;
}

.sub-navigation-menu {
  position: relative;
}

.navigation-button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-right: 5px;
  color: rgb(rgb(31, 32, 65), 0.5);
}

.button-content {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(rgb(31, 32, 65), 0.5);
  margin-right: 7px;

  &:hover {
    transition: all 0.3s ease-in;
    color: rgb(rgb(31, 32, 65), 0.75);
  }
}

.sub-navigation-list {
  position: absolute;
  margin-top: 2px;
  right: 0;
  display: none;
  list-style: none;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(rgb(31, 32, 65), 0.5);
  border-radius: 4px;

  &_opened {
    display: block;
  }
}

.navigation-link {
  text-decoration: none;
  align-items: center;
  color: rgb(rgb(31, 32, 65), 0.5);
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;

  &_active {
    font-weight: bold;
    color: rgb(rgb(31, 32, 65), 0.75);
  }

  &:hover {
    transition: all 0.3s ease-in;
    color: rgb(rgb(31, 32, 65), 0.75);
  }
}

@media (max-width: 991px) {
  .sub-navigation-list {
    margin-top: 10px;
    position: static;
    border: none;
  }

  .button-content {
    font-size: 16px;
  }

  .navigation-link {
    font-size: 16px;
  }
}
