@import '@/style/variables.scss';

.toggle {
  display: inline-flex;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;

  &:focus {
    & ~ .icon {
      outline: 1px solid black;
    }
  }

  &:checked {
    & ~ .icon {
      border-color: #bc9cff;
      padding-left: 24px;

      &::after {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
  }
}

.icon {
  content: '';
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: $dark-shade-25;
    border-radius: 10px;
  }
}

.text {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: $dark-shade-75;
  word-break: break-word;
}
