$dark-shade-100: #1f2041;
$dark-shade-75: #1f2041bf;
$dark-shade-50: #1f204180;
$dark-shade-25: #1f204140;
$dark-shade-10: #1f20411a;
$dark-shade-5: #1f20410d;
$dark-shade: #1f2041;
$purple: #bc9cff;
$green: #6fcf97;
$white: #ffffff;
$red: #cf716f;

$gradient-purple-100: linear-gradient($purple, #8ba4f9);
$gradient-purple-50: linear-gradient(#bc9cff80, #8ba4f980);

$gradient-green-100: linear-gradient($green, #66d2ea);
$gradient-green-50: linear-gradient(#6fcf9780, #66d2ea80);
