.question-about-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.text {
  font-size: 14px;
  line-height: 18px;
  color: black;
  word-break: break-word;
  margin-right: 20px;
}

.button {
  flex-basis: 97px;
}
