%button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.body {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.number {
  font-weight: bold;
  font-size: 19px;
  white-space: nowrap;
}

.number__icon {
  font-size: 14px;
}

.luxury {
  margin-left: 8px;
  font-weight: bold;
  font-size: 12px;
}

.price {
  font-weight: bold;
  font-size: 14px;
}

.price__prefix {
  font-weight: 400;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}

.reviews {
  font-weight: bold;
  font-size: 14px;
}

.reviews__prefix {
  font-weight: 400;
}
