@import '@/style/variables.scss';

.inputs {
  display: flex;
  gap: 20px;
}

.calendar-menu {
  display: none;
  max-width: 320px;
  position: absolute;
  z-index: 100;
  padding: 20px 20px 17px;
  background: $white;
  border: 1px solid $dark-shade-25;
  box-shadow: 0 10px 20px $dark-shade-5;
  border-radius: 4px;
  margin-top: 5px;

  &_opened {
    display: block;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
